<!DOCTYPE html>
<html>
<head>
    <title>Tạo tài khoản</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 0 auto;
            border: 1px solid #ccc;
            padding: 30px;
            border-radius: 20px;
        }

        h1{
            text-align: center;
            color: #FF9900;
        }

        .sign-up-button {
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Tạo tài khoản</h1>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="confirm_password">Xác nhận mật khẩu:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        <input type="submit" value="Tạo tài khoản">
        <div class="sign-up-button">
            <a href="/login">Đăng nhập</a>
        </div>
    </form>
</body>
</html>